.start-button {
  color: #e3e3e3;
  background: linear-gradient(to left, #ed865d, #f197bd);
  border: 0px;
  border-radius: 30px;
  padding: 9px 45px;
  font-size: 18px;
  position: relative;
}

.start-button::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(to left, rgba(237, 136, 104, 0.47), #f197b8);
  width: 102.5%;
  height: 50px;
  z-index: -1;
  border-radius: 44px;
}