footer {
  .soally {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    color: #e3e3e3;
    font-size: 17px;
    padding-top: 5px;

    .title {
      color: #e3e3e3;
      background: linear-gradient(to left, #b83b5e, #ef895d);
      border-radius: 10px 4px 4px 4px;
      padding: 2px 6px;
      font-family: "SignPainter HouseScript";
      font-size: 17px;
      margin-right: 9px;
    }

    .crm-platform {
      color: silver;
      font-size: 10px;
    }
  }

  .logo {
    width: 170px;
    height: 50px;
  }
}