@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh-Regular.ttf")
}

@font-face {
  font-family: "SignPainter HouseScript";
  src: url("/fonts/SignPainter-HouseScript.ttf")
}

body {
  margin: 0;
  direction: rtl;
  overscroll-behavior-y: contain;
}

.App {
  width: 100vw;
  height: 100vh;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "YekanBakh";
  overflow: hidden;
}

button {
  outline: 0 !important;
}